@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--text-color-2: #75A0C8;
	--main-bg: #F5F5F5;
	--text-accent : #0477F0;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.title-text-gradient {
	@apply text-transparent bg-clip-text bg-gradient-to-br from-[#09C6F8] to-[#0263ED];
}

.title-text-gradient-2 {
	@apply text-transparent bg-clip-text bg-gradient-to-br from-[#09C6F8] to-[#0263ED];
}


:root {
	--header-height: 3.5rem;
}